@media (max-width: 1600px) {

}
@media (max-width: 1440px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1024px) {
    .one-book__title {
        text-align: center;
    }
    .one-book {
        flex-direction: column;
    }
    .one-book__container {
        flex-direction: column;
        align-items: center ;
    }

    .one-book__preview {
        width: 70%;
    }
    .one-book__describe{
        margin-top: 40px;
        width: 100%;
    }

   
}

@media (max-width: 900px) {

}

@media (max-width: 500px) {

}

@media (max-width: 375px) {
  
}