.one-book__title {
    color: black;
    text-align: left;
    margin-bottom: 50px;
}



.back_1 {
    background-image: url("/assets/img/back2.png");
    background-size: cover;
}
.one-book {
    padding-bottom: 50px;
}
.one-book__container {
    width: 100%;
    display: flex;
}

.preview-img {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.one-book__preview {
    width: 25%;
}

.preview-img img {
    width: 100%;

}

.one-book__describe {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.one-book__describe span{
    font-size: 24px;
    margin-bottom: 20px;
}

.preview-buttons {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.preview-buttons a {
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 30px;
    color: white;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: #406AF3;
    text-decoration: none;
}

.preview-buttons a:last-child {
    margin-bottom: 0;
}



.similar .content_block {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;

}
.popular-block{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    width: 20%;
    margin-right: 15px;
    margin-left: 15px;
    height: 600px;
    margin-bottom: 5%;
}

.popular__link {
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
}


.popular-block__img img {
    width: 100%;
    height: 500px;
    border-radius: 5%;
    box-shadow: -20px 0 20px rgba(133, 133, 133, 0.4);
}
.popular-block__info {
    margin-top: 30px;
    font-size: 26px;
    font-weight: 700;
    margin-left: 10px;
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
}
.popular-block__info span {
    margin-bottom: 15px;
}
.popular-block__info span:last-child {
    margin-bottom: 0;
}