
.container {
    padding: 0 30px;
}

.our__team-container {
    height: 250px;
    margin-top: 40px;
    background-color: #1A50BA;
    border-radius: 15px;
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
}

.our__team-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.our__team-avatar img {
    border-radius: 50%;


}

.our__team-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    margin-top: 30px;
    padding: 0 30px;
    
}

.top__line {
    font-size: 24px;
    
}

.mid__line {
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #729AE9;
}

.top__line, .mid__line {
    margin-bottom: 20px;
}

.mid__line {
    margin-bottom: 40px;
}

.bot__line {
    display: flex;
    text-align: center;
    line-height: 25px;
}

.bot__line span {
    margin: 0 15px;
}

.bot__line span:first-child{
    margin-left: 0;
}

